.cover{
    text-align: center;
}

.data{
    margin-top: 30px;
    color: rgb(100, 250, 100);
}

.relation{
    margin-top: 30px;
    color: rgb(100, 250, 250);
}

.table{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.columns{
    width: 100%;
    border-bottom: 1px solid black;
    padding-left: 5%;
    font-weight: bold;
}

.parameters{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0 20px 0; 
    font-size: 25px;
}

.detach{
    margin-bottom: 30px;
}

.message{
    font-size: 20px;
    margin-left: 10%;
    color: red;
}

.summary{
    font-size: 25px;
    margin-left: 10%;
}

.document, .question{
    width:80%;
    margin-left: 13%;
    font-size: 23px;
}

.submit{
    width: 100%;
    margin: 50px 0;
    text-align: center;
}

.submit_btn{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    width: 120px;
    height: 50px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    background: linear-gradient(rgb(250,150,250) 30%, rgb(230,50,250) 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
    cursor: pointer;
}

.submit_btn:active{
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);
}
