.box{
    margin:0 auto;
    width:80%;
}

.title{
    text-align: center;
    padding:10px;
}

/*質問の概要に関する部分*/
.table{
    border:1px solid black;
    font-size: 0;     /*表示の時にできる隙間をなくすために親要素でfont-size:0、子要素でそれぞれおサイズを定義*/
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.columns{
    background-color: rgb(230,200,250);
    border:1px solid black;
    font-size: 25px;
}

.parameters{
    border:1px solid black;
    font-size: 25px;
}

.category_column{
    width: 15%;
    text-align: center;
    display: inline-block;
}

.topic_column{
    width:12%;
    text-align: center;
    display: inline-block;
}    

.curriculum_number_column{
    width:23%;
    text-align: center;
    display: inline-block;
}

.category_parameter{
    width:20%;
    text-align: center;
    display: inline-block;
}

.topic_parameter{
    width:20%;
    text-align: center;
    display: inline-block;
}

.curriculum_number_parameter{
    width: 10%;
    text-align: center;
    display: inline-block;
}

.question_column, .question_parameter{
    width: 100%;
}

/*記事の概要に関する部分*/
.documents{
    margin-top:50px; 
}

.document{
    border:1px solid black;
    display:inline-block;
    width:30%;
    height:300px;
    margin:0 1.5%;
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
}

.document_title{
    font-size: 30px;
}

.document_link{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.noDocument{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
