h1{
    padding-left:5%;
    width:95%;
    border-bottom: solid 1px black;
}

.categoryBox{
    margin-left: 5%;
    height:50px;
}

.category{
    width:50%;
    float:left;
}

.firstBox{
    border:solid 1px black ;
    width:70%;
    margin:0 auto;
    margin-bottom:20px;
}

.selectResult{
    display: block;
    margin: 0 auto;
}

.firstSelect{
    display: inline;
}

.secondBox{
    border:solid 1px black ;
    width:70%;
    margin:0 auto;
    margin-bottom:20px;
}

.curriculumBox{
    margin-left: 5%;
    height:180px;
}

.curriculum{
    width:50%;
    height:30px;
    padding-bottom: 10px;
    float:left;
}

.portfolioBox{
    margin-left: 5%;
    height:100px;
}

.portfolio{
    width:50%;
    height:30px;
    padding-bottom: 10px;
    float:left;
}

.thirdBox{
    border:solid 1px black ;
    width:70%;
    margin:0 auto;
}

.empty{
    height:3000px;
}