.box{
    margin:0 auto;
    width:100%;
}

.title{
    text-align: center;
    padding:10px;
    margin: 50px 0;
}
.related_title{
    text-align: center;
    font-size: 30px;
    padding:10px 0; 
    background:#6cb2ebc7;
    color: #fff;
}


/*質問の概要に関する部分*/
/*.table{*/
/*    border:1px solid black;*/
/*    font-size: 0;     */
    /*表示の時にできる隙間をなくすために親要素でfont-size:0、子要素でそれぞれおサイズを定義*/
/*    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);*/
/*}*/

/*.show_result_nav_pc{*/
/*	    display: flex;*/
/*	    width: 100%;*/
/*	}*/

/*.columns{*/
/*    background-color: rgb(230,200,250);*/
/*    border:1px solid black;*/
/*    width:60%;*/
/*	font-size: 18px;*/
/*}*/

/*.parameters{*/
/*    border:1px solid black;*/
/*    width: 40%;*/
/*	font-size: 18px;*/
/*}*/
/*.question_table{*/
/*    margin-bottom: 50px;*/
/*}*/
/*.show_result_nav{*/
/*    display: flex;*/
/*}*/

/*.category_column{*/
/*    width: 15%;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*}*/

/*.topic_column{*/
/*    width:12%;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*}    */

/*.curriculum_number_column{*/
/*    width:23%;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*}*/

/*.category_parameter{*/
/*    width:20%;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*}*/

/*.topic_parameter{*/
/*    width:20%;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*}*/

/*.curriculum_number_parameter{*/
/*    width: 10%;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*}*/

/*イラスト部分*/
/*.question_illust{*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    padding-bottom: 100px;*/
/*}*/

/*.student_img{*/
/*    width:200px;*/
/*    height:200px;*/
/*}*/

/*.question_balloon{*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    margin: 1.5em 0 1.5em 15px;*/
/*    padding: 7px 10px;*/
/*    width: 60%;*/
    /*max-width: 60%;*/
/*    color: #555;*/
/*    font-size: 16px;*/
/*    background: #FFF;*/
/*    border: solid 3px #555;*/
/*    box-sizing: border-box;*/
/*    border-radius: 10px;*/
/*}*/

/*.question_balloon:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top:20%;*/
/*    left: -24px;*/
/*    margin-top: -12px;*/
/*    border: 12px solid transparent;*/
/*    border-right: 12px solid #FFF;*/
/*    z-index: 2;*/
/*}*/

/*.question_balloon:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 20%;*/
/*    left: -30px;*/
/*    margin-top: -14px;*/
/*    border: 14px solid transparent;*/
/*    border-right: 14px solid #555;*/
/*    z-index: 1;*/
/*}*/

/*.image{*/
/*    height: 180px;*/
/*    width: 280px;*/
/*}*/

/*.comment_illust{*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.mentor_img{*/
/*    width:150px;*/
/*    height:200px;*/
    
/*}*/

/*.comment_balloon {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    margin: 1.5em 15px 1.5em 0;*/
/*    padding: 7px 10px;*/
/*    width: 60%;*/
    /*max-width: 60%;*/
/*    color: #555;*/
/*    font-size: 16px;*/
/*    background: #FFF;*/
/*    border: solid 3px #555;*/
/*    box-sizing: border-box;*/
/*    border-radius: 10px;*/
/*}*/

/*.comment_balloon:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 20%;*/
/*    right: -24px;*/
/*    margin-top: -12px;*/
/*    border: 12px solid transparent;*/
/*    border-left: 12px solid #FFF;*/
/*    z-index: 2;*/
/*}*/

/*.comment_balloon:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 20%;*/
/*    right: -30px;*/
/*    margin-top: -14px;*/
/*    border: 14px solid transparent;*/
/*    border-left: 14px solid #555;*/
/*    z-index: 1;*/
/*}*/
.realated_documents_wrap{
    margin-bottom: 30px;
}

/*記事の概要に関する部分*/
.documents{
    /*min-height:400px;*/
    display: flex;
    /*justify-content: space-around;*/
    
}

.document{
    border:1px solid black;
    display:inline-block;
    width:300px;
    /*height:300px;*/
    margin:10px;
    vertical-align: top;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
}

.document_img{
    height: 250px;
    width: 100%;
}

.document_title{
    font-size: 20px;
    width:90%;
    margin:0 auto;
    background-color: #fff;
    text-align: center;
}

.noDocument{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.sp{
    display: block;
}

.cards{
    width: 70%;
}

.demolist{
    margin-left: 2%;
    width: 28%;
    max-height: 600px;
    background:#fff; 
}

.list_title{
    text-align: center;
    font-size: 25px;
}

.related_question{
    width: 100%;
    font-size: 30px;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.QA_card{
    margin-bottom: 30px;
}
.QA_table{
    margin-bottom:50px; 
}
.wrapper{
    display: flex;
}
.MuiCard-root{
    padding:15px; 
}

.Avatar_catch{
    width: 70px;
    height: 70px;
}
.Avatar-wrap{
    display: flex;
    align-items: center;
}
.Avatar-wrap p{
    margin-bottom: 0;
}
.Avatar-detail-wrap{
    margin:0; 
}
.Avatar_name{
    font-size: 20px;   
}

.Avatar_date{
    color: #6c757d;
}
.QA_textblock{
    padding:20px 0;
    margin: 0;
    line-height: 1.7;
}
.MuiAvatar-img{
    object-fit: contain;
}
.MuiListItem-gutters{
    padding:25px; 
}
/*=================================
    以下レスポンシブ対応CSS
    750px幅で適応
=================================*/

@media screen and (max-width: 750px) {
    
    .sp{
        display: block;
    }
    .pc{
        display: none;
    }
    
    .title{
        margin:20px 0; 
        padding:0;
        font-size: 1.75rem;
    }
	/*.show_result_nav_pc{*/
	/*    display: flex;*/
	/*    width: 100%;*/
	/*}*/
	/*.columns {*/
	/*    width:60%;*/
	/*    font-size: 18px;*/
	/*}*/
	/*.parameters{*/
	/*    width: 40%;*/
	/*    font-size: 18px;*/
	/*}*/
	/*.student_img {*/
 /*       width: 100px;*/
 /*       height: 100px;*/
 /*   }*/
 /*   .mentor_img {*/
 /*       width: 75px;*/
 /*       height: 100px;*/
 /*   }*/
 /*   .question_balloon {*/
 /*       margin: 5px 0 5px 15px;*/
 /*       padding: 5px;*/
 /*       font-size: 16px;*/
 /*       border: solid 2px #555;*/
 /*       border-radius: 5px;*/
 /*   }*/
    
 /*   .comment_balloon{*/
 /*       margin: 5px 0 5px 15px;*/
 /*       padding: 5px;*/
 /*       font-size: 16px;*/
 /*       border: solid 2px #555;*/
 /*       border-radius: 5px;*/
 /*   }*/
 /*   .comment_balloon:before{*/
 /*       right:-23px;*/
 /*   }*/
 /*   .comment_balloon:after{*/
 /*       right: -28px;*/
 /*   }*/
 /*   .question_balloon:before{*/
 /*       left:-23px;*/
 /*   }*/
 /*   .question_balloon:after{*/
 /*       left:-28px;*/
 /*   }*/
    
    .wrapper{
        display: block;
    }
    
    .cards{
        width: 100%;
    }
    
    /* sp版ではスライドに設定（暫定的） */
    .documents{
        overflow: auto;
        scroll-snap-type: x;
    }
    .document{
        margin-left: 0;
        width: 200px;
    }
    .document_img{
        height: 150px;
    }
    .demolist{
        width: 100%;
        margin: 0;
        border:none;
        
    }
    .MuiListSubheader-root{
        color: #fff;
    }
    .related_title{
    font-size: 20px;
}

    
	
}
