.center{
    text-align: center;
}

.content{
    margin: 40px 0;
}

.title{
    border-bottom: 1px solid black;
    margin:20px;
    padding-left: 10px;
    font-size: 25px;
}

.question{
    width:80%;
    margin-left: 5%;
    font-size: 25px;
    margin-top: 10px;
}

.emptyMessage{
    width: 90%;
    margin:20px auto;
    text-align: center;
    font-size: 30px;
}