/*search.blade.php*/
.title{
    text-align: center;
    padding:10px;
}



/*ここからReactの部分*/

/*検索フォーム*/
input{
    display:none;
}

.steps{
    padding-top: 10px;
}

.form_box{
    border:solid 2px black;
}

.category_box{
    text-align: center;
}

.category_button{
    border:solid 1px blue;
    border-radius: 5px; 
    width:30%;
    margin:20px 10%;
    padding:10px 0;
    font-weight: bold;
}

.category_button:hover{
    background-color: rgb(190,255,255);
}

.category_result_box{
    text-align: center;
    padding:30px 0;
}

.category_result{
    font-weight: bold;
    display: inline;
}

.change_button{
    margin-left: 20px;
    
}

.topic_box {
    text-align: center;
}

.topic_button{
    border:solid 1px green;
    border-radius: 5px; 
    width:20%;
    margin:20px 6.5%;
    padding:10px 0;
    font-weight: bold;
    text-align: center;
}



.topic_button:hover{
    background-color: rgb(190,255,190);
}

.second_questin_preview{
    color:grey;
}

.topic_button_preview{
    border:solid 1px green;
    border-radius: 5px; 
    width:20%;
    margin:20px 6.5%;
    padding:10px 0;
    font-weight: bold;
    text-align: center;
    display:inline-block;
}

.topic_result_box{
    text-align: center;
    padding:30px 0;
}

.topic_result{
    font-weight: bold;
    display: inline;
}

.additionBtn{
    width: 100%;
    text-align: center;
    color: blue;
    cursor: pointer;
}

.curriculum_number_box, .keyword_box{
    text-align: center;
    padding: 30px 0;
}

.search_button_box{
    text-align: center;
    padding-bottom: 30px;
}

.search_button{
    background-color: rgb(190,190,255);
}

/*フォームと結果の間の空白*/
.empty{
    height:600px;
    
}

.space{
    height: 80px;
}

.circle1{
    width: 100px;
    height: 100px;
    margin:30px auto;
    border:1px solid white;
    border-radius: 50%;
    background-color: rgb(190,190,255);
    opacity:0.3;
}

.circle2{
    width: 100px;
    height: 100px;
    margin:30px auto;
    border:1px solid white;
    border-radius: 50%;
    background-color: rgb(190,190,255);
    opacity:0.7;
}

.circle3{
    width: 100px;
    height: 100px;
    margin:30px auto;
    border:1px solid white;
    border-radius: 50%;
    background-color: rgb(190,190,255);
}

/*結果表示*/
.result_box{
    height:1000px;
    /*border:solid 1px black;*/
    animation: fadeup 4s cubic-bezier(0.33, 1, 0.68, 1) 1 both;
}
 
@keyframes fadeup {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.searchResultDocument{
    font-size: 25px;
    padding-left: 5%;
}

.list{
    background-color: white;
}


.MuiListItem-gutters {
     padding-left: 0px; 
     padding-right: 0px; 
}

.MuiListItem-root {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
     padding-top: 0px; 
     padding-bottom: 0px; 
    justify-content: flex-start;
    text-decoration: none;
}

.question{
    width: 100%;
    padding :20px;
    font-size: 30px;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.question:hover{
    text-decoration: none;
}

.pagination{
    justify-content: center;
}

.previous-link, .next-link{
    margin: 0 8px;
    display: inline-block;
    height: 100%;
    padding-top: 20%;
}

.emptyMessage{
    width: 90%;
    margin:20px auto;
    text-align: center;
    font-size: 30px;
}


/*=================================
    以下レスポンシブ対応CSS
    750px幅で適応
=================================*/

@media screen and (max-width: 750px) {
    
    .sp{
        display: block;
    }
    .pc{
        display: none;
    }
    
    .title{
        padding: 0px;
        margin:20px 0; 
        font-size: 1.75rem;
    }
    .steps{
        font-size: 1rem;
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .category_box {
        display: flex;
        justify-content: space-around;
    }
    .category_button {
        width: 40%;
        margin: 0; 
    }    
    
    .topic_button {
        width: 30%;
        margin: 15px 0;
    }
    .topic_box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .form_box {
        padding: 20px 0;
    }
	
}

