.box{
    margin:0 auto;
    width:100%;
}

.title{
    text-align: center;
    padding:10px;
    margin: 50px 0;
}

.related_title{
    text-align: center;
    font-size: 30px;
    padding:10px 0; 
    background:#6cb2ebc7;
    color: #fff;
}


/*質問の概要に関する部分*/
.realated_documents_wrap{
    margin-bottom: 30px;
}

/*記事の概要に関する部分*/
.documents{
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.document{
    border:1px solid black;
    display:inline-block;
    width:300px;
    height:300px;
    margin:10px;
    vertical-align: top;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
}

.document_img{
    height: 150px;
    width: 100%;
}

.document_title{
    font-size: 20px;
    width:90%;
    margin:0 auto;
    background-color: #fff;
    text-align: center;
}

.noDocument{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.sp{
    display: block;
}

.cards{
    width: 70%;
}

.demolist{
    margin-left: 2%;
    width: 28%;
    max-height: 600px;
    overflow: scroll;
    background:#fff;
}

.list_title{
    text-align: center;
    font-size: 25px;
}

.related_question{
    width: 100%;
    font-size: 30px;
    display:block;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    white-space: nowrap;
}

.QA_card{
    margin-bottom: 30px;
}

.QA_table{
    margin-bottom:50px; 
}

.wrapper{
    display: flex;
}

.MuiCard-root{
    padding:15px; 
}

.Avatar_catch{
    width: 70px;
    height: 70px;
}

.Avatar-wrap{
    display: flex;
    align-items: center;
}

.Avatar-wrap p{
    margin-bottom: 0;
}

.Avatar-detail-wrap{
    margin:0; 
}

.Avatar_name{
    font-size: 20px;   
}

.Avatar_date{
    color: #6c757d;
}

.QA_textblock{
    padding:20px 0;
    margin: 0;
    line-height: 1.7;
}

.MuiAvatar-img{
    object-fit: contain;
}

.MuiListItem-gutters{
    padding:25px; 
}
/*=================================
    以下レスポンシブ対応CSS
    750px幅で適応
=================================*/

@media screen and (max-width: 750px) {
    
    .sp{
        display: block;
    }
    
    .pc{
        display: none;
    }
    
    .title{
        margin:20px 0; 
        padding:0;
        font-size: 1.75rem;
    }
	
    .wrapper{
        display: block;
    }
    
    .cards{
        width: 100%;
    }
    
    /* sp版ではスライドに設定（暫定的） */
    .documents{
        overflow: auto;
        scroll-snap-type: x;
    }
    
    .document_img{
        height: 150px;
    }
    
    .demolist{
        width: 100%;
        margin: 0;
        border:none;
        
    }
    
    .MuiListSubheader-root{
        color: #fff;
    }
    
    .related_title{
        font-size: 20px;
    }
}