tr.css-1q1u3t4-MuiTableRow-root.MuiTableRow-hover:hover{
    background-color: rgba(119, 26, 248, 0.27);
}

tr.css-1q1u3t4-MuiTableRow-root.MuiTableRow-hover:hover > td a{
    text-decoration: underline;
    text-decoration-color: #771AF8;
}

