body {
  background-color: white;
}

.college_info {
  background-color: #eee;
  padding-top: 16px;
}

.college_info div.css-1n2mv2k {
  justify-content: space-evenly;
}

.college_info div.css-mvmu1r {
  justify-content: space-evenly;
  margin: 10px 0;
}

.information {
  padding-top: 16px;
  padding-bottom: 16px;
}

.information span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
  font-size: 20px;
}

.footer {
  background-color: #b39ddb;
  padding-top: 16px;
}

span.MuiTabs-indicator.css-11yukd5-MuiTabs-indicator {
  background-color: #771AF8;
}

button.css-1susg9h-MuiButtonBase-root-MuiTab-root.Mui-selected, 
button.css-f5r76o-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #771AF8;
}

span.MuiButton-startIcon.MuiButton-iconSizeMedium.css-1d6wzja-MuiButton-startIcon {
  margin: 0;
}

.condition {
  margin: 25px 30px 10px;
}

div.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  margin-left: 0;
}

.index {
  width: 90%;
  margin: 32px auto 0;
}

.card-0, .card-3 {
  margin-left: auto;
}

.card-1, .card-4 {
  margin: 0 auto;
}

a, a:hover {
  color: #771AF8;
}

.mypage {
  width: 85%;
  margin: 0 auto;
}