/* 全css共通 */
body {
  background-color: white;
}

a, a:hover {
  color: #771AF8;
}

/*.Top画面カレンダーレスポンシブ対応用 */
div.css-mvmu1r {
  justify-content: space-evenly;
  margin: 10px 0;
}

/*.college_info div.css-1n2mv2k {*/
/*  justify-content: space-evenly;*/
/*}*/


span.MuiTabs-indicator.css-11yukd5-MuiTabs-indicator {
  background-color: #771AF8;
}

button.css-1susg9h-MuiButtonBase-root-MuiTab-root.Mui-selected, 
button.css-f5r76o-MuiButtonBase-root-MuiTab-root.Mui-selected,
button.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: #771AF8;
}

span.MuiButton-startIcon.MuiButton-iconSizeMedium.css-1d6wzja-MuiButton-startIcon {
  margin: 0;
}

div.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  margin-left: 0;
}

.index {
  width: 90%;
  margin: 32px auto 0;
}

.card-0, .card-3 {
  margin-left: auto;
}

.card-1, .card-4 {
  margin: 0 auto;
}

.mypage {
  width: 70%;
  margin: 0 auto;
}

.manage {
  width: 90%;
  margin: 30px auto;
}