.content{
    margin: 20px 10% auto;
}

.title{
    border-bottom: 1px solid black;
}

textarea{
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
}

.submit{
    width: 100%;
    text-align: center;
}